doctype html
head
    title Edit Employee
    link(rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap.css")
    link(rel="stylesheet" href="/css/style.css")

body
    nav.navbar.navbar-inverse
        .container
            .navbar-header
                button.navbar-toggle.collapsed(type='button', data-toggle='collapse', data-target='#navbar', aria-expanded='false', aria-controls='navbar')
                    span.sr-only Toggle navigation
                    span.icon-bar
                    span.icon-bar
                    span.icon-bar
                a.navbar-brand(href='/') EMS
            #navbar.collapse.navbar-collapse
                ul.nav.navbar-nav
                    li
                        a(href='/') HOME
                    li
                       a(href='/add') ADD EMPLOYEE
                    li
                        a(href="/update") UPDATE 
                    li
                        a(href="/remove") DELETE
    br
    br

form(method="POST" action="/update/edit/"+emp._id)
        div.container
            div.form-group
                label(for="name") name :
                input(type="text" name="name" class="form-control" value=emp.name)
                br
                label(for="surname") Surname :
                input(type="text" name="surname" class="form-control" value=emp.surname)
                br
                label(for="job") job :
                input(type="text" name="job" class="form-control" value=emp.job)
                br
                label(for="salary") salary :
                input(type="text" name="salary" class="form-control" value=emp.salary)
                br
                input(type="submit" class="btn btn-primary btn-lg btn-block" value="update")

script(src="/bower_components/jquery/dist/jquery.js")
script(src="/bower_components/bootstrap/dist/js/bootstrap.js")
script(src="/js/index.js")