doctype html
head
    title Edit Employee
    link(rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap.css")
    link(rel="stylesheet" href="/css/style.css")

body
    nav.navbar.navbar-inverse
        .container
            .navbar-header
                button.navbar-toggle.collapsed(type='button', data-toggle='collapse', data-target='#navbar', aria-expanded='false', aria-controls='navbar')
                    span.sr-only Toggle navigation
                    span.icon-bar
                    span.icon-bar
                    span.icon-bar
                a.navbar-brand(href='/') Ems
            #navbar.collapse.navbar-collapse
                ul.nav.navbar-nav
                    li
                        a(href='/') HOME
                    li
                       a(href='/add') ADD EMPLOYEE
                    li
                        a(href="/update") UPDATE
                    li
                        a(href="/remove") DELETE
    br
    br
   



div.container
    h2 Select The Employee You Want To Update
    ul.list-group
        each emps in emp
            li.list-group-item  
                a(href="/update/edit/"+emps._id)= emps.name 



